.deck-globalnav {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #888;
  z-index: 1;
  margin: 0;
}

body > .deck-container .deck-globalnav {
  position: fixed;
}

@media print {
  .deck-globalnav {
    display: none;
  }
}
